:root {
	--primary: #000000;
	--secondary: #ffffff;
	--tertiary: #DC5F00;
	--quaternary: #EEEEEE;
}

body {
	margin: 0;
}

header {
	display: flex;
	/* padding: 10px; */
	/* padding-left: 2em; */
	background: var(--tertiary);
	width: 100%;
	position: fixed;
	/*padding: 10px;*/
	z-index: 100;
	/* margin-top: -21px; */
}

header ul{
	margin: 0;
}

.nav-a:hover {
	background-color: var(--tertiary);
	text-decoration: underline;
}

.nav-a-text {
  padding-top: 24px;
  font-size: 20px;
}

h3,
label {
	color: var(--primary);
}

.contenedor-imagenes {
	margin-bottom: 2px;
	display: flex;
	flex-direction: column;
	/*row*/
	align-items: center;
	justify-content: center;
	height: auto;
	/*flex-wrap: wrap;*/
}


/*
.contenedor-imagenes {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;/*100vh;*/

.header_none {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	background-color: #333;
	color: var(--primary);
	padding: 10px;
	padding-left: 2em;
}

.contenedor-imagenes p {
	margin-bottom: 5px;
	text-align: center;
}

.contenedor-imagenes h3 {
	margin-top: 5px;
	text-align: center;
}

.contenedor-imagenes img {
	border-style: solid;
}

.strong {
	font-weight: bold;
}


/*
.contenedor-imagenes img {
    width: 300px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 5px;
}
*/


/*
.contenedor-imagenes {
  display: flex;
}
*/


/*
.contenedor-imagenes img:first-child {
  margin-right: 10px;
}
*/


/*
.contenedor-imagenes{
height: auto;
}
*/

.imagen_menu {
	max-width: 20%;
}

header > nav {
	float: right-side;
}

header > nav ul {
	list-style: none;
	overflow: hidden;
}

header > nav ul li {
	float: left;
	font-family: Arial, sans-serif;
	font-size: 16px;
}

header > nav ul li a {
	display: block;
	padding: 10px;
	color: var(--primary);
	text-decoration: none;
}

header > nav ul li:hover {
	background: #8F9ACD;
}


/* Grilla imagenes menu*/

.grid-container {
	display: grid;
	grid-template-columns: auto;
	/*background-color: #2196F3;*/
	padding-top: 80px;
}

.grid-item {
	/*background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);*/
	font-size: 30px;
	text-align: center;
}


/*CARRUSEL*/

.slide {
	position: relative;
	box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
}

.slide-inner {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: calc( 370px+ 3em);
}

.slide-open:checked+ .slide-item {
	position: static;
	opacity: 100;
}

.slide-item {
	position: absolute;
	opacity: 0;
	-webkit-transition: opacity 0.6s ease-out;
	transition: opacity 0.6s ease-out;
}

.slide-item img {
	display: block;
	height: auto;
	max-width: 100%;
}

.slide-control {
	background: rgba(0, 0, 0, 0.28);
	border-radius: 50%;
	color: #fff;
	cursor: pointer;
	display: none;
	font-size: 40px;
	height: 40px;
	line-height: 35px;
	position: absolute;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	cursor: pointer;
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	text-align: center;
	width: 40px;
	z-index: 10;
}

.slide-control.prev {
	left: 2%;
}

.slide-control.next {
	right: 2%;
}

.slide-control:hover {
	background: rgba(0, 0, 0, 0.8);
	color: #aaaaaa;
}

#slide-1:checked~ .control-1,
#slide-2:checked~ .control-2,
#slide-3:checked~ .control-3 {
	display: block;
}

.slide-indicador {
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: 2%;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 10;
}

.slide-indicador li {
	display: inline-block;
	margin: 0 5px;
}

.slide-circulo {
	color: #828282;
	cursor: pointer;
	display: block;
	font-size: 35px;
}

.slide-circulo:hover {
	color: #aaaaaa;
}

#slide-1:checked~ .control-1~ .slide-indicador li:nth-child(1) .slide-circulo,
#slide-2:checked~ .control-2~ .slide-indicador li:nth-child(2) .slide-circulo,
#slide-3:checked~ .control-3~ .slide-indicador li:nth-child(3) .slide-circulo {
	color: #428bca;
}

#titulo {
	width: 100%;
	position: absolute;
	padding: 0px;
	margin: 0px auto;
	text-align: center;
	font-size: 27px;
	color: rgba(255, 255, 255, 1);
	font-family: 'Open Sans', sans-serif;
	z-index: 9999;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}


/* contact#contact-formO*/

.container {
	padding-top: 120px;
	max-width: 400px;
	width: 100%;
	margin: 0 auto;
	position: relative;
}

#contact-form {
	font: 400 12px/16px Helvetica, Arial, sans-serif;
	background: #F9F9F9;
	padding: 25px;
	margin: 0 0;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact-form h3 {
	display: block;
	font-size: 30px;
	font-weight: 300;
	margin-bottom: 10px;
}

#contact-form h4 {
	margin: 5px 0 15px;
	display: block;
	font-size: 13px;
	font-weight: 400;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"],
#contact-form input[type="url"],
#contact-form textarea {
	width: 95%;
	border: 1px solid #ccc;
	background: #FFF;
	margin: 0 0 5px;
	padding: 10px;
}

#contact-form input[type="text"]:hover,
#contact-form input[type="email"]:hover,
#contact-form input[type="tel"]:hover,
#contact-form input[type="url"]:hover,
#contact-form textarea:hover {
	-webkit-transition: border-color 0.3s ease-in-out;
	-moz-transition: border-color 0.3s ease-in-out;
	transition: border-color 0.3s ease-in-out;
	border: 1px solid #aaa;
}

#contact-form textarea {
	height: 100px;
	max-width: 100%;
	resize: none;
}

#contact-form button[type="submit"] {
	cursor: pointer;
	width: 100%;
	border: none;
	background: var(--tertiary);
	color: #FFF;
	margin: 0 0 5px;
	padding: 10px;
	font-size: 15px;
}

#contact-form button[type="submit"]:hover {
	background: #f07150;
	-webkit-transition: background 0.3s ease-in-out;
	-moz-transition: background 0.3s ease-in-out;
	transition: background-color 0.3s ease-in-out;
}

#contact-form button[type="submit"]:active {
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact-form input:focus,
#contact-form textarea:focus {
	outline: 0;
	border: 1px solid #aaa;
}

::-webkit-input-placeholder {
	color: #888;
}

:-moz-placeholder {
	color: #888;
}

::-moz-placeholder {
	color: #888;
}

:-ms-input-placeholder {
	color: #888;
}


/* RESERVA*/

form {
	font-family: Helvetica;
	/* Just to center the form on the page */
	margin: 0 auto;
	width: 400px;
	/* To see the limits of the form */
	padding: 1em;
	border: 1px solid #ccc;
	border-radius: 1em;
}

div+ div {
	margin-top: 1em;
}

label {
	/* To make sure that all label have the same size and are properly align */
	display: inline-block;
	width: 90px;
	text-align: right;
}

input,
textarea {
	/* To make sure that all text field have the same font settings
     By default, textarea are set with a monospace font */
	font: 1em verdana;
	/* To give the same size to all text field */
	width: 300px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	/* To harmonize the look & feel of text field border */
	border: 1px solid #999;
}

input:focus,
textarea:focus {
	/* To give a little highlight on active elements */
	border-color: #000;
}

textarea {
	/* To properly align multiline text field with their label */
	vertical-align: top;
	/* To give enough room to type some text */
	height: 5em;
	/* To allow users to resize any textarea vertically
     It works only on Chrome, Firefox and Safari */
	resize: vertical;
}

.button {
	/* To position the buttons to the same position of the text fields */
	padding-left: 90px;
	/* same size as the label elements */
}

button {
	/* This extra margin represent the same space as the space between
     the labels and their text fields */
	margin-left: 0.5em;
}

h3 {
	display: block;
	font-size: 30px;
	font-weight: 300;
	margin-bottom: 10px;
}

#reserve-form {
	font: 400 12px/16px Helvetica, Arial, sans-serif;
	background: #F9F9F9;
	/*padding: 25px;
    margin: 150px 0;*/
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#botonReserva[type="submit"] {
	cursor: pointer;
	width: 100%;
	border: none;
	background: #f0715f;
	color: #FFF;
	margin: 0 0 5px;
	padding: 10px;
	font-size: 15px;
}

footer {
	text-align: center;
	text-shadow: 2px 2px 17px rgba(0, 0, 0, 1);
	font-size: 16px;
	margin-top: 26px;
}

footer > section > div > p, footer > section > p{
	margin: 0;
}

.background {
	background-image: url('/public/images/background.jpeg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	text-align: center;
	color: #fff;
}

.fa {
  width: 50px;
  height: 50px;
}





/* menu */





.container-menu {
	display: flex;
	justify-content: space-between;
}

.left-menu {
	position: relative;
	background-color: var(--quaternary);
	width: 20%;
}

.logo-menu {
	position: relative;
	width: 80%;
	align-self: center;
}

.nav-menu {
	padding-top: 90px;
	display: flex;
	flex-direction: column;
	text-align: left;
}

.nav-menu > h2 {
	margin-top: 40px;
}

.nav-menu > h2 {
	font-size: 2.5em;
	position: relative;
	color: var(--primary);
	margin-left: 20px;
	margin-bottom: 0;
}



.right-menu {
	position: relative;
	background-color: var(--quaternary);
	width: 79%;
	height: 90vh;
}

.right-menu > .grid-container {
	display: flex;
	flex-direction: column;
	height: 79vh;
	overflow: hidden;
	overflow-y: scroll;
	align-items: center;
	background-color: var(--quaternary);
}

.grid-item {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.box_1_menu {
	width: 400px;
	height: 400px;
}

.grid-item > .box_1_menu > .imagen_menu {
	object-fit: cover;
	max-width: 400px;
	height: 100%;
}

.grid-item > .p_menu {
	color: var(--primary);
}

.box_2_menu {
	max-width: 50%;
	display: flex;
	flex-direction: column;
	color: var(--primary);
	font-size: 0.8em;
	text-align: left;
}

.box_3_menu {
	max-width: 30%;
	padding: 0 3px 0 3px;
	display: flex;
	flex-direction: column;
	color: var(--primary);
	font-size: 0.8em;

}

.p_description {
	min-width: 200px;
}

.navbar-menu {
	display: flex;
}

.navbar-menu > ul {
	margin: 5px;
	font-size: 1.5em;
	margin-left: 26px;
	padding: 0;
	list-style: none;
	overflow: hidden;
	color: var(--primary);
	width: min-content;
}

.navbar-menu > ul > li:hover {
	color: var(--tertiary);
	cursor: pointer;
}

.navbar-menu > ul > li:active {
	color: var(--primary);
	transform: scale(0.9)
}

.ul-menu-2, .ul-menu-3 {
	display: flex;
	flex-direction: column;
}